<div th:fragment="item" class="container bcontent mb-4">
    <div th:fragment="item" class="card" style="width: auto;">
        <div class="row no-gutters">
            <div class="col-sm-4">
                <img th:src="@{/img/rockriderst120.png}" height="240" class="item-img float-right"/>
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <h5 class="card-title">ROCKRIDER ST 120</h5>
                        <div class="position-absolute end-0 me-4 pb-2">
                            <p>Preu/dia: 10€</p>
                        </div>
                    </div>
                    <p class="d-inline-block card-subtitle text-muted">00001</p>
                    <hr class="m-1" />
                    <p class="card-text">Una BTT tècnica i còmoda! Pilotant la 
                        BTT ST 120, sentiràs la precisió i la lleugeresa que 
                        t'ofereixen el seu monoplat (1x9 velocitats) i els seus 
                        frens de disc mecànics.</p>
                    <a href="#" class="btn btn-danger mb-2 m-3 position-absolute bottom-0 end-0"><b>El·liminar</b></a>                
                </div>
            </div>
        </div>
    </div>
</div>