<footer th:fragment="footer" id="mdb-footer" class="mt-5 bg-white position-fixed bottom-0 w-100">
    <div class="d-flex flex-row justify-content-evenly text-center container py-3 align-middle" >
        <div>
            <span class="align-middle">© 2022 Pick & Roll</span>
        </div>
        <div>
            <a href="/terms" class="align-middle">Termes del servei</a>
        </div>
        <div>
            <a href="/privacy" class="align-middle">Política de privacitat</a>
        </div>
    </div>
</footer>