<div th:fragment="item" class="container bcontent m-0 card w-50">
    <div class="row">
        <div class="col-sm-4">
            <img th:src="@{/img/rockriderst120.png}" height="200px" class="item-img float-right mt-3"/>
        </div>
        <div class="col-sm-7">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <h5 class="card-title">ROCKRIDER ST 120</h5>
                </div>
                <p class="d-inline-block card-subtitle text-muted">00001</p>
                <hr class="m-1" />
                <p class="card-text">Una BTT tècnica i còmoda! Pilotant la 
                    BTT ST 120, sentiràs la precisió i la lleugeresa que z
                    t'ofereixen el seu monoplat (1x9 velocitats) i els seus 
                    frens de disc mecànics.</p>
                <a href="#" class="btn btn-primary mb-2 m-3 position-absolute bottom-0 end-0"><i class="bi bi-s bi-cart-plus"></i><b> 10€ / dia</b></a>
            </div>
        </div>
    </div>
</div>