<div th:fragment="item" class="container bcontent">
    <div th:fragment="item" class="card" style="width: 720px;">
        <div class="row no-gutters">
            <div class="col-sm-4">
                <img th:src="@{/img/rockriderst120.png}" height="240" class="item-img float-right"/>
            </div>
            <div class="col-sm-8">
                <div class="card-body">
                    <h5 class="card-title">ROCKRIDER ST 120</h5>
                    <p class="d-inline-block card-subtitle text-muted">00001</p>
                    <hr class="m-1" />
                    <p class="card-text">Una BTT tècnica i còmoda! Pilotant la BTT ST 120, sentiràs la precisió i la lleugeresa que t'ofereixen el seu monoplat (1x9 velocitats) i els seus frens de disc mecànics.</p>
                    <a href="#" class="btn btn-primary mb-2 m-3 position-absolute bottom-0 end-0"><i class="bi bi-cart-plus" style="font-size: 1.5rem; vertical-align: middle;"></i><b> 10€ / día</b></a>                
                </div>
            </div>
        </div>
    </div>
</div>