<div th:fragment="meta_scripts" th:remove="tag">
    <link href="../webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../webjars/bootstrap-icons/1.8.1/font/bootstrap-icons.css" rel="stylesheet" >
    <link th:href="@{/css/custom.css}" rel="stylesheet" />
    <script src="../webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="../webjars/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/scripts.js}" type="text/javascript"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</div>