<div th:fragment="item" class="mb-5">
    <div class="firstOrderRow p-2">
        <div class="list-group list-group-horizontal">
            <label class="ms-3 me-5"><b>Realitzat: </b>24/02/2022 9:42</label>
            <div class="form-check me-5">
                <input class="form-check-input greenSwitch" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Lliurat
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input greenSwitch" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Retornat
                </label>
            </div>
        </div>
    </div>
    <div class="secondOrderRow p-2">
        <div class="list-group list-group-horizontal">
            <label class="ms-3 me-5"><b>Dies: </b>4</label>
            <label class="me-5"><b>Data recollida: </b> 25/02/2022</label>
            <label><b>Data entrega: </b> 29/02/2022</label>
        </div>
    </div>
    <div>
        <table id="example" class="table text-center align-middle" cellspacing="0" width="100%">
            <thead>
                <tr class="usersDiv">
                    <th>ID</th>
                    <th>Model</th>
                    <th>Tipus</th>
                    <th>Preu producte</th>
                    <th>Preu total</th>
                </tr>
            </thead>
            <tbody class="border-top-0">
                <tr th:replace="layouts/order_product :: row"></tr>
                <tr th:replace="layouts/order_product :: row"></tr>
                <tr th:replace="layouts/order_product :: row"></tr>
                <tr th:replace="layouts/order_product :: row"></tr>
        </table>
    </div>
</div>
