<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>[[#{common.name}]] | Cistell</title>
    <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
</head>
<body>
    <div th:replace="layouts/navbar :: navbar"></div>
    <div class="d-flex flex-row">
        <!-- Editor del admin -->
        <div class="container pt-4 w-25">
            <form method="POST" th:action="@{/login}">
                <div class="container rounded border p-3 position-relative">
                    <div class="d-flex form-group p-1 mb-2">
                        <div>
                            <label>Preu unitats:</label>
                        </div>
                        <div class="ms-auto">
                            <label th:text="${preuUnitat}"></label>
                        </div>
                    </div>
                    <div class="d-flex form-group p-1 mb-2">

                        <div>
                            <label>Dies:</label>
                        </div>
                        <div class="ms-auto">
                            <label th:text="${days}"></label>
                        </div>
                    </div>
                    <div class="d-flex form-group p-1 mb-2">
                        <div>
                            <label>Subtotal:</label>
                        </div>
                        <div class="ms-auto">
                            <label th:text="${subPrice}"></label>
                        </div>
                    </div>
                    <div class="d-flex form-group p-1 mb-2">
                        <div>
                            <label>IVA:</label>
                        </div>
                        <div class="ms-auto">
                            <label th:text="${IVA}"></label>
                        </div>
                    </div>
                    <div class="d-flex form-group p-1 mb-2">
                        <div>
                            <label>Preu total:</label>
                        </div>
                        <div class="ms-auto">
                            <label th:text="${totalPrice}"></label>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-2 pt-2 mt-4 mb-4">
                    <div class="pe-2">
                        <label>Dies:</label>
                    </div>
                    <div class="d-flex rounded border">
                        <div class="rounded border">
                            <button type="button" class="btn btn-sm" th:onclick="|window.location.href='/minus_day'|">-</button>
                        </div>
                        <div class="ps-2 pe-2 align-middle mt-1">
                            <label th:text="${days}"></label>
                        </div>
                        <div class="rounded border">
                            <button type="button" class="btn btn-sm" th:onclick="|window.location.href='/plus_day'|">+</button>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 pt-2">
                    <button type="submit" class="btn btn-primary">Finalitzar compra</button>
                </div>
            </form>
        </div>
        <div class="container pt-4 bg-white w-75">
            <div class="d-flex flex-column bd-highlight mb-3">
                <h2>Cistell</h2>
                <div class="container rounded border pt-4 pe-3 ps-3 pb-0">

                    <div th:each="vehicle : ${vehicles}" class="container bcontent mb-4">

                        <div th:fragment="item" class="card" style="width: auto;">
                            <div class="row no-gutters">
                                <div class="col-sm-4">
                                    <img th:src="@{/img/rockriderst120.png}" height="240" class="item-img float-right"/>
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <div class="d-flex flex-row">
                                            <h5 class="card-title" th:text="${vehicle.name}"></h5>
                                            <div class="position-absolute end-0 me-4 pb-2">
                                                <p th:text="${vehicle.price}+€"></p>
                                            </div>
                                        </div>
                                        <p class="d-inline-block card-subtitle text-muted" th:text="${vehicle.id}"></p>
                                        <hr class="m-1" />
                                        <p class="card-text" th:text="${vehicle.description}"></p>
                                        <a th:onclick="|window.location.href='/removeVehicle/${vehicle.id}'|" href="#" class="btn btn-danger mb-2 m-3 position-absolute bottom-0 end-0"><b>El·liminar</b></a>                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
