<!DOCTYPE html>
<html>
    <head>
        <title>[[#{common.name}]] | Canviar contrasenya</title>
        <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
        <style>
            @media (min-width: 1200px) {
                .container{
                    max-width: 500px;
                }
            }
        </style>
    </head>
    <body class="background">        
        <div class="vertical-center">
            <div class="container">
                <img class="logo" th:src="@{/img/logo_h.png}" />
                <h2>Canviar contrasenya</h2>
                <div class="container rounded border p-3 bg-white">
                    <form>
                        <div class="form-group p-1 mb-2">
                            <label class="mb-2" for="exampleInputEmail1">Nova contrasenya</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group p-1 mb-2">
                            <label class="mb-2" for="exampleInputPassword1">Repetir contrasenya</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="d-grid gap-2 p-1">
                            <button type="submit" class="btn btn-primary">Canviar contrasenya</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
