<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>[[#{common.name}]] | Canviar contrasenya</title>
    <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
</style>
</head>
<body class="background">        
    <div class="vertical-center">
        <div class="container login">
            <img class="logo" th:src="@{/img/logo_h.png}" />
            <h2>Canviar contrasenya</h2>
            <div class="container rounded border p-3 bg-white">
                <form th:action="@{/changePassword}" method="post" th:object="${user}" >
                    <input type="hidden" name="email" th:field="*{email}"/>
                    <input type="hidden" name="resetPasswordToken" th:field="*{resetPasswordToken}"/>
                    <div class="form-group p-1 mb-2">
                        <label class="mb-2" for="exampleInputEmail1">Nova contrasenya</label>
                        <input type="password" class="form-control" name="password" th:field="*{password}">
                    </div>
                    <div class="form-group p-1 mb-2">
                        <label class="mb-2" for="exampleInputPassword1">Repetir contrasenya</label>
                        <input type="password" class="form-control" name="passwordCheck" th:field="*{passwordCheck}">
                    </div>
                    <div class="d-grid gap-2 p-1">
                        <button type="submit" class="btn btn-primary">Canviar contrasenya</button>
                    </div>
                    <!-- Error messages -->
                    <div class="float-right position-fixed top-0 end-0 m-3">
                        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>                        
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}"/>
                    </div>
                </form>
            </div>
        </div>
        <div th:replace="layouts/footer :: footer"></div>
</body>
</html>
