<!DOCTYPE html>
<html>
    <head>
        <title>[[#{common.name}]] | Activar / Desactivar mòduls</title>
    <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
</head>
<body>
    <header th:replace="layouts/navbar_admin :: navbar_admin"></header>
    <h2 class="mt-3 ms-4">Activar i desactivar mòduls</h2> 
    <div th:fragment="item" class="d-inline-flex w-100 p-2">
        <div class="double-element w-25"  th:each="module : ${modules}">
            <div class="card mb-3 mt-5 me-2 ms-2">
                <div class="row g-0">
                    <!-- Icone del mòdul -->
                    <div class="col-md-4">
                        <div class='ms-5'>
                        <i th:class="${module.icon}"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <!-- Nom del mòdul -->
                            <h5 class="card-title fw-bold" th:text="${module.name}"></h5>
                            <!-- Descripció del mòdul -->
                            <p class="card-text text-justify me-5" th:text="${module.description}"></p>
                            <!-- Contenidor botó activar/desactivar -->
                            <div class="form-check form-switch position-absolute bottom-0 start-0 m-2">
                                <!-- Botó de si està activat o no (desactivat) -->
                                <input class="form-check-input greenSwitch" type="checkbox" th:checked="${module.enable}" disabled>
                                
                                <!-- Veure si està activat o no -->
                                <div th:if="${module.enable == false}">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Desactivat</label>
                                </div>
                                <div th:if="${module.enable == true}">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Activat</label>
                                </div>
                            </div>
                            <!-- Botó per editar el mòdul -->
                            <a class="btn btn-primary position-absolute bottom-0 end-0 m-2" th:href="@{/editar/}+${module.id}" role="button">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
