<!DOCTYPE html>
<html>
    <head>
        <title>[[#{common.name}]] | Activar/Desactivar mòdul</title>
        <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
    </head>
    <body>
        <header th:replace="layouts/navigationBar :: capcalera"/>
        <div class="double-element">
            <div class="card mb-3 mt-5" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <i class="bi bi-cart3"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Comandes</h5>
                            <p class="card-text">Mòdul el qual permet visualitzar les comandes realitzades pels clients. També permet visualitzar els clients registrats a l'aplicació</p>
                            <a href="#" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 mt-5" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <i class="bi bi-cart3"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Comandes</h5>
                            <p class="card-text">Mòdul el qual permet visualitzar les comandes realitzades pels clients. També permet visualitzar els clients registrats a l'aplicació</p>
                            <a href="#" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
