<!DOCTYPE html>
<html>
    <head>
        <title>[[#{common.name}]] | Editar mòdul</title>
    <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
</head>
<body>
    <header th:replace="layouts/navbar_admin :: navbar_admin"></header>
    <div class="container mt-4">
        <h2 class=" ms-4">Editar mòdul</h2> 
        <div class="container rounded border p-3 bg-white">
            <form th:action="@{/guardarModul}" method="post" th:object="${module}">

                <!-- Dades que no es poden modificar -->
                <input type="hidden" name="id" th:field="*{id}"/>
                <input type="hidden" name="icon" th:field="*{icon}"/>
                <input type="hidden" name="path" th:field="*{path}"/>


                <!-- Editar el nom del mòdul -->
                <div class="form-group p-1 mb-2">
                    <label class="mb-2" for="email">Nom</label>
                    <input type="text" name="nom" th:field="*{name}" class="form-control"/> 
                </div>

                <!-- Editar la descripció del mòdul -->
                <div class="form-group p-1 mb-2">
                    <label class="mb-2" for="description">Descripció</label>
                    <textarea name="description" th:field="*{description}" class="form-control"/> 
                </div>

                <!-- Veure si està activat o no i canviar l'estat -->
                <div class="form-group p-1 mb-2">
                    <div class="form-check form-switch">
                        <label class="mb-2" for="estat">Estat</label>
                        <input type="checkbox" name="enable" th:field="*{enable}" class="form-check-input greenSwitch"/>
                    </div>
                </div>

                <!-- Botó per guardar els canvis -->
                <input class="btn btn-primary" type="submit" name="enviar" value="Enviar Dades"/>        

            </form>
        </div>
    </div>
</body>
</html>


