<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
    </head>
    <body>
        <div>Hola <b><span sec:authentication="name"/></b>, tus roles son <span sec:authentication="principal.authorities"/></div>
        <form method="POST" th:action="@{/logout}">
            <button type="submit" name="logout" class="btn btn-danger">Tancar sessió</button>
        </form>
        <div th:insert="layouts/item :: item">...</div>
    </body>
</html>
