<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>[[#{common.name}]] | Comandes</title>
    <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
</head>
<body>
    <div th:replace="layouts/navbar :: navbar"></div>
    <div class="container pt-4 bg-white">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="list-group list-group-horizontal">
                <h1>Comandes</h1>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ordenar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Tots els vehicles</a>
                        <a class="dropdown-item" href="#">Més recents</a>
                        <a class="dropdown-item" href="#">Més antics</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filtrar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Tots els vehicles</a>
                        <a class="dropdown-item" href="#">Lliurat</a>
                        <a class="dropdown-item" href="#">Retornat</a>
                    </div>
                </div>
            </div>
            <div class="container rounded border p-3">
                <div th:replace="layouts/order_list_row :: item"></div>
                <div th:replace="layouts/order_list_row :: item"></div>
                <div th:replace="layouts/order_list_row :: item"></div>
                <div th:replace="layouts/order_list_row :: item"></div>
            </div>
        </div>
    </div>
</body>
</html>