<!DOCTYPE html>
<html>
    <head>
        <title>[[#{common.name}]] | Política de privacitat</title>
    <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
</head>
<body class="background">
    <div class="container mt-5">
        <a class="nav-link auto" href="/login"><img class="logoNavigationbar ms-0" th:src="@{/img/logo_h.png}"/></a>
        <h2>Política de privacitat</h2>
    </div>
    <div class="bottom-0 m-3 position-fixed end-0"><a href="#"><i class="bi bi-chevron-double-up"></i></a></div>
    <div class="container flex-fill rounded border p-3 bg-white mb-5">
        <h4 class="mt-5">1. Dispocicions generals</h4>
        <p>Aquesta política de privacitat descriu com Pick & Roll, en qualitat de responsable del tractament de dades,
            tracta les dades personals del vostre client quan s'utilitzen els serveis.</p>
        <h4 class="mt-5">2. Recollida, fins i ús de dades personals</h4>
        <p>Pick & Roll recollirà les dades personals que vostè faciliti en crear un compte a la pàgina web 
            Pick & Roll.</p>
        <p>Pick & Roll tracta les vostres dades personals identificatives i de contacte (per exemple, el seu nom
            complet, adreça de correu electrònic i número de telèfon). Pick & Roll també tracta informació de pagament
            (com informació de la targeta bancària, i historial de pagaments).</p>
        <h4 class="mt-5">3. Transferència de dades personals</h4>
        <p>Pick & Roll podrà transferir dades personals a les categories de destinataris següents:</p>
        <ul>
            <li><b>Companyies d'assegurançes: </b> La fi d'aquestes transferències és gestionar reclamacions
                d'assegurances i administrar les nostres pòlisses d'assegurances. El fonament jurídic és el nostre
                interès legítim a gestionar reclamacions d'assegurances i administrar les nostres pòlisses
                d'assegurances de manera continuada (article 6, apartat 1, lletra f) de l'RGPD).</li>
            <li class="mt-3"><b>Tribunals i contraparts en assumptes legals: </b>La fi d'aquestes transferències és defensar,
                exercir i formular reclamacions. El fonament jurídic és el nostre interès legítim per defensar,
                exercir i formular reclamacions (article 6, apartat 1, lletra f) del RGPD).</li>
            <li class="mt-3"><b>Reguladors o autoritats governamentals: </b>La fi d'aquesta transferència és el compliment de la
                legislació, els reglaments i la normativa aplicable així com respondre quan procedeixi a les
                sol·licituds d'informació d'organismes reguladors i altres organismes governamentals com
                l'administració pública.</li>
            <li class="mt-3"><b>Despatxos d'advocats i altres formes professionals: </b>El propòsit d'aquestes transferències
                és cercar assistència professional de bufets d'advocats o altres serveis professionals per a
                l'exercici i la defensa dels nostres drets legals (Article 6(1)(f) RGDP) i/o dur a terme qualsevol
                auditoria obligatòria en compliment de la normativa aplicable (Article 6(1)(c)RGDP).</li>
            <li class="mt-3"><b>Autoritats responsables de vetllar pel compliment de la llei: </b>La fi d'aquestes transferències
                és ajudar les autoritats responsables de vetllar pel compliment de la llei i de la Policia Judicial
                en les seves investigacions, en la mesura que tinguem l'obligació de fer-ho. El fonament jurídic
                és complir obligacions legals (article 6, apartat 1, lletra c), del RGPD).</li>
        </ul>
        <p>Si Voi transfereix les vostres dades personals fora de la Unió Europea o de l'Espai Econòmic Europeu,
            només es farà després que s'hagin adoptat mesures de protecció per garantir un nivell adequat de
            protecció de dades, particularment, mitjançant la formalització de clàusules contractuals tipus de
            la comissió europea per a transferències de dades personals i, on sigui necessari, mitjançant la
            implementació de mesures de salvaguarda addicionals.</p>
        <p>Podeu obtenir més informació sobre la protecció que s'atorga a les dades personals quan es transfereixen
            fora de l'EEE posant-vos en contacte amb nosaltres.</p>
        <h4 class="mt-5">4. Conservació de dades personals</h4>
        <p>Les vostres dades personals es conserven únicament durant el temps que sigui necessari per complir les
            finalitats per a les quals es van recollir les seves dades personals. No obstant això, si les dades
            personals es tracten sobre la base del seu consentiment o del nostre interès legítim, la seva retirada
            del consentiment o oposició posarà fi al tractament, sense que això afecti el tractament que hagi tingut
            lloc fins aquell moment i sense que això afecti cap obligació legal de tractar dades personals. Les dades
            personals que es tractin per celebrar, executar o administrar un contracte entre vostè i Pick & Roll es
            tractaran mentre vostè sigui client de Pick & Roll i mantingui un compte Pick & Roll. Si cancel·leu el
            vostre compte, suprimirem les dades personals del vostre compte.</p>
        <h4 class="mt-5">5. Drets</h4>
        <p>Teniu determinats drets en relació amb el nostre tractament de les vostres dades personals. Els seus
            drets són els següents:</p>
        <ul>
            <li><b>Dret d'accés: </b>Teniu dret a rebre confirmació per part nostra que tractem les vostres dades
                personals, inclòs el dret a accedir a les vostres dades personals ia rebre una còpia electrònica
                de les vostres dades personals.</li>
            <li class="mt-3"><b>Dret de rectificació: </b>Teniu dret a sol·licitar que s'actualitzin o corregeixin
                dades personals incorrectes o inadequades sobre vostè.</li>
            <li class="mt-3"><b>Dret a retirar el consentiment: </b>En la mesura que el tractament de les vostres
                dades personals es base en el vostre consentiment, teniu dret a retirar el vostre consentiment en
                qualsevol moment.</li>
        </ul>
        <h4 class="mt-5">6. Seguretat</h4>
        <p>La tecnologia utilitzada per Pick & Roll, juntament amb aquesta política de privadesa, té per objecte
            protegir les vostres dades personals contra l'accés i l'ús no autoritzats. Podem actualitzar aquestes
            accions a mesura que hi hagi nova tecnologia disponible.</p>
    </div>
</body>
</html>
