<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>[[#{common.name}]] | Perfil</title>

        <link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link th:href="@{/css/custom.css}" rel="stylesheet" />
        <script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
        <script src="webjars/jquery/3.6.0/jquery.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <style>

            .container{
                max-width: 800px;
            }

            .mrgbtn {
                min-width: 200px;
                margin-right: 20px;
                margin-top: 10px;
                align-items: flex-end;
            }

            .mrgbtn2 {
                min-width: 200px;
                margin-top: 10px;
                align-items: flex-end;
            }

            .gbut {
                float: right;
            }
            
            h2 {
                margin-top: 10px;
            }

        </style>
    </head>
    <body> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="logoNavigationbar ms-4 mt-2 mb-2" th:src="@{/img/logo_h.png}" />
            <div class="flex-row-reverse collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#343a40" class="bi bi-bicycle me-2" viewBox="0 0 16 16">
                            <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z"/>
                            </svg>
                            Productes</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#343a40" class="bi bi-list-ul me-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                            Les meves comandes</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#343a40" class="bi bi-cart3 me-2" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            El meu cistell</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#343a40" class="bi bi-person-circle me-2" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            El meu compte</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            <div class="container">

                <h2>Perfil</h2>

                <form>
                    <div class="container rounded border p-3 bg-white">

                        <div class="double-element">
                            <div class="form-group col-md-3 p-1 mb-2">
                                <label class="sr-only" for="inlineFormInputName">Nom</label>
                                <input type="text" class="form-control" id="inlineFormInputName">
                            </div>
                            <div class="form-group col-md-3 p-1 mb-2">
                                <label class="sr-only" for="inlineFormInputName">Cognoms</label>
                                <input type="text" class="form-control" id="inlineFormInputName">
                            </div>
                            <div class="form-group col-md-6 p-1 mb-2">
                                <label class="sr-only" for="exampleInputEmail1">Correu Electrònic</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@exemple.cat">
                            </div>
                        </div>

                        <div class="double-element">
                            <div class="form-group col-md-3 p-1 mb-2">
                                <label class="sr-only" for="inlineFormInputName">DNI</label>
                                <input type="text" class="form-control" id="inlineFormInputName">
                            </div>
                            <div class="form-group col-md-3 p-1 mb-2">
                                <label class="sr-only" for="inlineFormInputName">Telèfon</label>
                                <input type="text" class="form-control" id="inlineFormInputName">
                            </div>
                            <div class="form-group col-md-3 p-1 mb-2">
                                <label class="sr-only" for="exampleInputPassword1">Contrasenya</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="form-group col-md-3 p-1 mb-2">
                                <label class="sr-only" for="exampleInputPassword1">Confirmar contrasenya</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>

                    </div>

                    <div class="double-element gbut">
                        <a class="btn btn-primary btn2 mrgbtn" href="/login" role="button">Tancar sessió</a>
                        <button type="submit" class="btn btn-primary mrgbtn2">Guardar</button>
                    </div>

                </form>

            </div>
        </div>
    </body>
</html>