<!DOCTYPE html>
<html>
    <head>
        <title>[[#{common.name}]] | Recuperar contrasenya</title>
        <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
        <style>
            @media (min-width: 1200px) {
                .container{
                    max-width: 500px;
                }
            }
        </style>
    </head>
    <body class="background">        
        <div class="vertical-center">
            <div class="container">
                <img class="logo" th:src="@{/img/logo_h.png}" />
                <h2>Recuperar contrasenya</h2>
                <div class="container rounded border p-3 bg-white">
                    <form>
                        <div class="form-group p-1 mb-2">
                            <label class="mb-2" for="exampleInputEmail1">Correu Electrònic</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" 
                                   aria-describedby="emailHelp" placeholder="email@exemple.cat">
                        </div>
                        <div class="d-grid gap-2 p-1">
                            <button type="submit" class="btn btn-primary">Enviar missatge</button>
                            <a class="btn btn-primary alt-color" href="/login" role="button">Enrere</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
