<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>[[#{common.name}]] | Recuperar contrasenya</title>
    <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
</head>
<body class="background">        
    <div class="vertical-center">
        <div class="container login">
            <img class="logo" th:src="@{/img/logo_h.png}" />
            <h2>Recuperar contrasenya</h2>
            <div class="container rounded border p-3 bg-white">
                <form th:action="@{/recoverPassword}" method="post">
                    <div class="form-group p-1 mb-2">
                        <label class="mb-2" for="exampleInputEmail1">Correu Electrònic</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="email@exemple.cat" name="email" th:value="${email}">
                    </div>
                    <div class="d-grid gap-2 p-1">
                        <button type="submit" class="btn btn-primary">Enviar missatge</button>
                        <a class="btn btn-primary alt-color" href="/login" role="button">Enrere</a>
                    </div>
                    <!-- Error messages -->
                    <div class="float-right position-fixed top-0 end-0 m-3">
                        <div class="alert alert-info" role="alert" th:text="${info}" th:if="${info}"></div>
                    </div>
                </form>
            </div>
        </div>
        <div th:replace="layouts/footer :: footer"></div>
</body>
</html>
