<!DOCTYPE html>
<html>
    <head>
        <title>Condicions d'ús</title>
    </head>
    <body>
        <div>
            <h1>Termes del servei</h1>
        </div>
        <div>
            <h2>Acord d'usuari i termes del servei</h2>
            <p>Aquest contracte estableix els termes i condicions d'ús legalment vinculants la utilització dels serveis proporcionats per Pick & Roll. 
                El propòsit del contracte és regular els Serveis prestats per Pick & Roll, que es basen en la posada a la teva disposició de patinets 
                i/o bicicletes una vegada t'hagis registrat a la pàgina web de Pick & Roll.</p>
        </div>
        <div>
            <h2>1. General</h2>
        </div>
        <div>
            <h3>1.1 Parts del contracte</h3>
            <p>Vostè i Pick & Roll són les úniques parts del contracte. Vostè és l'únic usuari dels serveis i no ha de permetre que altres utilitzin els vehicles llogats.</p>
        </div>
        <div>
            <h3>1.2 Registre de compte</h3>
            <p>Per poder utilitzar els serveis, heu de registrar un compte a la pàgina web Pick & Roll. Heu de seguir les instruccions donades durant el procediment de registre
                i proporcionar informació correcta. Si no us registreu correctament, no heu d'utilitzar els serveis. Només podreu registrar un compte per a vostè i només
                podreu fer un registre. Si teniu coneixement del risc que una altra persona utilitzi El vostre registre o el pugui utilitzar, per exemple, perquè us hagin
                robat l'ordinador o el dispositiu
                mòbil amb què podeu accedir al Vehicle, haureu d'informar a Voi el més aviat possible de conformitat amb la secció 8 .Si permet que un tercer utilitzi
                El seu registre o un Vehicle,</p>
        </div>
        <div>
            <h3>1.3 Serveis de Pick & Roll</h3>
            <p>Pick & Roll us proporcionarà l'oportunitat d'utilitzar la pàgina web per llogar vehicles. Donat el nombre limitat de vehicles que operen, 
                Pick & Roll no promet ni garanteix que sempre trobareu vehicle disponible per a vostè.</p>
        </div>
        <div>
            <h3>1.3 Serveis de Pick & Roll</h3>
            <p>Pick & Roll us proporcionarà l'oportunitat d'utilitzar la pàgina web per llogar vehicles. Donat el nombre limitat de vehicles que operen, 
                Pick & Roll no promet ni garanteix que sempre trobareu vehicle disponible per a vostè.</p>
        </div>
        <div>
            <h3>1.4 Les seves responsabilitats i requisits per a l'ús dels serveis</h3>
            <p>Heu de tenir almenys 18 anys d'edat per utilitzar els Serveis. El maneig o ús de qualsevol vehicle per part d'un menor està expressament prohibit. 
                Si permeteu que un menor utilitzi un vehicle, per exemple, activant-lo a través del vostre compte, vostè serà responsable de tot ús i/o mal ús.</p>
        </div>
        <div>
            <h3>1.4 Les seves responsabilitats i requisits per a l'ús dels serveis</h3>
            <p>Heu de tenir almenys 18 anys d'edat per utilitzar els Serveis. El maneig o ús de qualsevol vehicle per part d'un menor està expressament prohibit. 
                Si permeteu que un menor utilitzi un vehicle, per exemple, activant-lo a través del vostre compte, vostè serà responsable de tot ús i/o mal ús.</p>
        </div>
        <div>
            <h3>1.5 Vehicle perdut o robat</h3>
            <p>Heu de tenir almenys 18 anys d'edat per utilitzar els Serveis. El maneig o ús de qualsevol vehicle per part d'un menor està expressament prohibit. 
                Si permeteu que un menor utilitzi un vehicle, per exemple, activant-lo a través del vostre compte, vostè serà responsable de tot ús i/o mal ús.</p>
        </div>
    </body>
</html>
