<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>[[#{common.name}]] | Usuaris</title>
    <div th:replace="layouts/meta_scripts :: meta_scripts"></div>
</head>
<body>
    <div th:replace="layouts/navbar :: navbar"></div>
    <div class="d-flex flex-row">
        <!-- Editor del admin -->
        <div class="container pt-4 w-25">
            <form action="#" th:action="@{/saveData}" th:object="${user}" method="post" class="getInfo">
                <!-- Messages -->
                <div class="mt-3 mb-3 w-100">
                    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
                    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}"/>
                </div>
                <input type="hidden" id="id" th:field="*{id}"/>                
                <input type="hidden" id="password" th:field="*{password}" />
                <div class="container rounded border p-3 position-relative">
                    <div class="form-group p-1 mb-2">
                        <label class="sr-only" for="inlineFormInputName">Nom</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" name="name">
                    </div>
                    <div class="form-group p-1 mb-2">
                        <label class="sr-only" for="inlineFormInputName">Cognoms</label>
                        <input type="text" class="form-control" id="surname" th:field="*{surname}" name="surname">
                    </div>
                    <div class="form-group p-1 mb-2">
                        <label class="sr-only" for="inlineFormInputName">DNI</label>
                        <input type="text" class="form-control" id="dni" th:field="*{dni}" name="dni">
                    </div>
                    <div class="form-group p-1 mb-2">
                        <label class="mb-2" for="email">Correu electrònic</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" id="email" th:field="*{email}" name="email">
                    </div>
                    <div class="form-group p-1 mb-4">
                        <label class="sr-only" for="inlineFormInputName">Telèfon</label>
                        <input type="text" class="form-control" id="phone" th:field="*{phone}" name="phone">
                    </div>
                    <div class="form-check form-switch position-absolute bottom-0 end-0 me-4 pb-2">
                        <!-- https://www.codejava.net/frameworks/spring-boot/spring-security-add-roles-to-user-examples -->
                        <th:div th:each="role: ${listRoles}" th:remove="tag">
                            <label class="form-check-label align-text-sub" for="flexSwitchCheckChecked" th:text="${role.name}"></label>
                            <input type="checkbox" th:field="*{roles}"th:value="${role.id}" class="form-check-input roles greenSwitch m-2" />  
                        </th:div>                        
                    </div>                    
                </div>
                <div class="d-grid gap-2 pt-2">
                    <button type="submit" class="btn btn-primary">Guardar canvis</button>
                </div>
            </form>
        </div>

        <!-- Lista de usuarios -->
        <div class="container pt-4 bg-white w-75">
            <div class="d-flex flex-column bd-highlight mb-3">
                <h1>Llista d'usuaris</h1>
                <div class="container rounded border p-3">
                    <table class="table text-center align-middle">
                        <thead>
                            <tr class="usersDiv">
                                <th>ID</th>
                                <th>DNI</th>
                                <th>Nom</th>
                                <th>Cognoms</th>
                                <th>Correu electrònic</th>
                                <th>Telèfon</th>
                                <th>Admin</th>
                                <th>Editar usuari</th>
                            </tr>
                        </thead>
                        <tbody class="border-top-0">
                            <tr th:each="user : ${users}"> 
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.dni}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.surname}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.phone}"></td>
                                <td>
                                    <div th:each="r : ${user.roles}" th:value="${r.name}" th:tag="remove">
                                        <i th:if="${r.name == 'admin'}" class="bi bi-check"></i>                                        
                                    </div>
                                </td>
                                <td>  
                                    <form method="post" th:action="@{/editUser}" th:object="${user}" >
                                        <input type="hidden" name="id" th:value="${user.id}"/>
                                        <input type="hidden" name="dni" th:value="${user.dni}"/>
                                        <input type="hidden" name="name"  th:value="${user.name}"/>
                                        <input type="hidden" name="surname"th:value="${user.surname}"/>
                                        <input type="hidden" name="email"  th:value="${user.email}"/>
                                        <input type="hidden" name="phone"  th:value="${user.phone}"/>
                                        <button type="submit" name="submit" value="value" class="btn btn-primary">Editar</button>
                                    </form> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
